#canvas-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid teal;
  opacity: 0.0;

}

#canvas-holder {
  video {
    position: fixed;
    top: 0px;
  }

  canvas {
    z-index: 1;
  }
}

#snap-canvas{
  opacity: 0.0;
  position: absolute;
  top: 0;
  border: 1px solid teal;
  z-index: 2;
}