#canvas-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#canvas-holder {
  video {
    position: fixed;
    top: 0px;
  }

  canvas {
    z-index: 1;
  }
}

#snap-canvas{
  position: relative;
  z-index: 2;
}